<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:replace="fragments/general :: head"></div>

    <title>Approuver site</title>
</head>

<body>
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Édition du site d'escalade <span th:text="${climbingSite.name}"></span></h1>
                    <form th:action="@{/admin/approve/{id}(id=${climbingSite.id})}"
                          th:object="${climbingSite}" method="post">
                        <div th:hidden="*{id}"></div>
                        <div th:hidden="*{userAccount}"></div>
                        <div th:hidden="*{name}"></div>
                        <div th:hidden="*{area}"></div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label">Officiel</label>
                            <input class="col-6 form-control" type="checkbox" th:field="*{official}">
                        </div>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>