<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:replace="fragments/general :: head"></div>

    <title>Nouveau site</title>
</head>

<body>
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Nouveau site d'escalade</h1>
                    <form action="createClimbingSite.html" th:action="@{/climbing-site/create}" th:object="${climbingSite}" method="post">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Nom du site d'escalade</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="area" class="col-sm-2 col-form-label">Secteur</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{area}" class="form-control" id="area"
                                       placeholder="">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>