<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/general :: head"></div>

    <title>Détails site</title>
</head>

<body>
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">

    <!-- Afficher tableau des sites -->
    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <div class="row card-title-climbing-site">
                        <h1 class="card-title">Détails du site d'escalade</h1>
                        <p th:if="${climbingSite.official}"><img class="official-tag"
                                                                 src="../img/iconAmisDeEscalade2.png"
                                                                 alt="tag officiel"/></p>
                    </div>


                    <!-- Tableau des détails-->
                    <table class="table table-dark table-responsive-md" th:object="${climbingSite}">
                        <thead>
                        <tr>
                            <th th:hidden="*{id}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Ajouté par / le</th>
                            <td th:text="*{userAccount.name + ' / ' + #temporals.format(createDate, 'dd LLL yyyy à HH:mm')}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Nom</th>
                            <td th:text="*{name}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Secteur</th>
                            <td th:text="*{area}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Type</th>
                            <td th:text="${climbingSite.type}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Hauteur</th>
                            <td th:text="${climbingSite.climbingHeight + 'm'}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Orientation</th>
                            <td th:text="${climbingSite.orientation}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre de voies</th>
                            <td th:text="${climbingSite.route}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Cotation des voies</th>
                            <td th:text="${'De ' + climbingSite.minGrade + ' à ' + climbingSite.maxGrade}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Voies associées</th>
                            <td>
                                <a role="button" class="btn btn-primary"
                                   th:href="@{/climbing-site/route(id=${climbingSite.id})}">Ici</a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Topo associé</th>
                            <td th:text="*{topo == null}?'Aucun':*{topo.name}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Boutons d'actions -->
                    <div th:if="${user != null}" class="btn-group" role="group">
                        <div class="btn-climbing-site" th:if="${user.id == climbingSite.userAccount.id}">
                            <a role="button" class="btn btn-primary"
                               th:href="@{/climbing-site/edition(id=${climbingSite.id})}">Éditer</a>
                            <form action="detailsClimbingSite.html"
                                  th:action="@{/climbing-site/delete/{id}(id=${climbingSite.id})}"
                                  th:object="${climbingSite}"
                                  method="post">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                        <div th:if="${not user.roles.?[name == 'ROLE_ADMIN'].isEmpty()}">
                            <a role="button" class="btn btn-primary" th:href="@{/admin/approve(id=${climbingSite.id})}"
                               th:text="${climbingSite.official}?'Désapprouver':'Approuver'"></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Laisser un commentaire -->
    <div class="row" th:if="${user != null and newComment != null}">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Laisser un commentaire</h1>
                    <form action="detailsClimbingSite.html"
                          th:action="@{/climbing-site/details/add-comment/{id}(id=${climbingSite.id})}"
                          th:object="${newComment}"
                          method="post">
                        <div class="form-group row">
                            <label class="col-6 col-form-label" for="description" hidden></label>
                            <input class="col-6 form-control" type="text" id="description" th:field="*{description}"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modification de commentaire -->
    <div class="row" th:if="${editComment != null}">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Modifification de votre commentaire</h1>
                    <form action="detailsClimbingSite.html"
                          th:action="@{/climbing-site/details/edit-comment/{id}(id=${climbingSite.id})}"
                          th:object="${editComment}"
                          method="post">
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{userAccount}">
                        <div class="form-group row">
                            <label class="col-6 col-form-label" for="editDescription" hidden></label>
                            <input class="col-6 form-control" type="text" id="editDescription" th:field="*{description}"
                                   required>
                        </div>
                        <button type="submit" class="btn btn-success">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Afficher les commentaires -->
    <div class="row comments">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Commentaires</h1>
                    <p class="card-text" th:if="${commentsList.isEmpty()}">Pas de commentaires</p>

                    <!-- Commentaire != null -->
                    <div th:each="comment : ${commentsList}">
                        <div class="card border-light mb-3">
                            <div class="card-body">
                                <h2 class="card-title card-title-comment"
                                    th:text="${comment.userAccount.getName()} + ' le ' + ${#temporals.format(comment.createDate, 'dd LLL yyyy à HH:mm')}"></h2>
                                <p class="card-text" th:text="${comment.description}">
                                    <span th:if="${comment.updateDate != null}"
                                          th:text="' modifié le ' + ${#temporals.format(comment.updateDate, 'dd LLL yyyy à HH:mm')}"></span>
                                </p>

                                <div th:if="${user != null}">
                                    <div class="btn-group" role="group"
                                         th:if="${user.id == comment.userAccount.id} or ${not user.roles.?[name == 'ROLE_ADMIN'].isEmpty()}">
                                        <a role="button" class="btn btn-primary"
                                           th:href="@{/climbing-site/details/edit-comment(id=${climbingSite.id},comment-id=${comment.id})}">Modifier</a>
                                        <form action="detailsClimbingSite.html"
                                              th:action="@{/climbing-site/details/delete-comment(id=${climbingSite.id},comment-id=${comment.id})}"
                                              th:object="${editComment}"
                                              method="post">
                                            <button type="submit" class="btn btn-danger">Supprimer</button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>