<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:replace="fragments/general :: head"></div>

    <title>Édition site</title>
</head>

<body>
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Édition du site d'escalade <span th:text="${climbingSite.name}"></span></h1>
                    <form action="editionClimbingSite.html" th:action="@{/climbing-site/edition/{id}(id=*{id})}"
                          th:object="${climbingSite}" method="post">
                        <div th:if="${user.id == climbingSite.user.id}">
                            <div class="form-group row">
                                <label class="col-6 col-form-label">Nom</label>
                                <input class="col-6 form-control" type="text" th:field="*{name}" required>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">Lieu</label>
                                <input class="col-6 form-control" type="text" th:field="*{area}" required>
                            </div>
                        </div>
                        <div th:if="${not user.roles.?[name == 'ROLE_ADMIN'].isEmpty()}">
                            <label class="col-6 col-form-label">Officiel</label>
                            <input class="col-6 form-control" type="checkbox" th:field="*{official}">
                        </div>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>