<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/general :: head"></div>

    <title>Liste Sites</title>
</head>

<body>
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Liste des sites d'escalade
                    <button type="button" class="btn btn-primary"><a
                            th:href="@{/climbing-site/create}">Ajouter</a></button></h1>
                    <p class="card-text">

                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Secteur</th>
                            <th scope="col">Plus d'informations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="climbingSite, iter: ${climbingSites}">
                            <th scope="row" th:hidden="${climbingSite.id}"></th>
                            <th th:text="${iter.count}"></th>
                            <td th:text="${climbingSite.name}"></td>
                            <td th:text="${climbingSite.area}"></td>
                            <td>
                                <button type="button" class="btn btn-secondary"><a
                                        th:href="@{/climbing-site/details(id=${climbingSite.id})}">Details</a></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>

</body>
</html>