<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="template :: head"></div>

    <title>Supprimer utilisateur</title>
</head>

<body>
<header>
    <div th:replace="template :: nav"></div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card h-auto">
                <h1>Suppression de l'utilisateur</h1>
                <p> L'utilisateur a bien été supprimé.</p>
            </div>
        </div>
    </div>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>