<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="fragments/general :: head"></div>

    <title>Détails utilisateur</title>
</head>

<body>
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Gérer</h1>
                    <div class="btn-group-vertical" role="group">
                        <a role="button" class="btn btn-primary" th:href="@{/user/topo}">Vos Topos</a>
                        <a role="button" class="btn btn-primary" th:href="@{/user/climbing-site}">Vos sites</a>
                        <a role="button" class="btn btn-primary" th:href="@{/user/route}">Vos voies</a>
                        <a role="button" class="btn btn-primary" th:href="@{user/booking}">Vos réservations</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Vos informations <span th:text="${user.name}"></span></h1>
                    <form th:object="${user}">
                        <div th:hidden="*{id}"></div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label">Nom</label>
                            <input class="col-6 form-control-plaintext" type="text" th:field="*{name}" readonly>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label">Email</label>
                            <input class="col-6 form-control-plaintext" type="text" th:field="*{email}" readonly>
                        </div>
                        <a role="button" class="btn btn-primary" th:href="@{/user/edition(id=*{id})}">Modifier vos informations</a>
                        <a role="button" class="btn btn-primary" th:href="@{/user/delete(id=*{id})}">Supprimer votre compte</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>