<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:replace="fragments/general :: head"></div>

    <title>Édition utilisateur</title>
</head>

<body>
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Édition de l'utilisateur <span th:text="${user.name}"></span></h1>
                    <form action="editionUser.html" th:action="@{/user/edition/{id}(id=${id})}" th:object="${user}" method="post">
                        <div class="form-group row">
                            <label for="name" class="col-6 col-form-label">Nom</label>
                            <div class="col">
                                <input type="text" th:field="*{name}" class="form-control" id="name"
                                >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-6 col-form-label">Email</label>
                            <div class="col">
                                <input type="text" class="form-control" id="email"
                                       th:field="*{email}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>