<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/general :: head"></div>

    <title>Détails Voie</title>
</head>

<body>
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3">
                <div class="card-body">
                    <h1 class="card-title">Détails de la voie</h1>

                    <!-- Tableau des détails-->
                    <table class="table table-dark table-responsive-md" th:object="${route}">
                        <thead>
                        <tr>
                            <th th:hidden="*{id}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Ajouté par / le</th>
                            <td th:text="*{userAccount.name + ' / ' + #temporals.format(createDate, 'dd LLL yyyy à HH:mm')}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Nom de la voie</th>
                            <td th:text="*{name}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Cotation</th>
                            <td th:text="*{grade}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Nombre de longueurs</th>
                            <td th:text="*{pitch}"></td>
                        </tr>
                        <tr>
                            <th scope="row">Site d'escalade associé</th>
                            <td th:text="*{climbingSite == null}?'Aucun':*{climbingSite.name}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Boutons d'actions-->
                    <div class="btn-group" role="group" th:if="${user != null} and ${user.id == route.userAccount.id}" >
                        <a role="button" class="btn btn-primary" th:href="@{/route/edition(id=${route.id})}">Éditer</a>
                        <a role="button" class="btn btn-danger" th:href="@{/route/delete(id=${route.id})}">Supprimer</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: footer"></div>
</body>
</html>