<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="template :: head"></div>

    <title>Title</title>
</head>
<body class="container">
<header>
    <div th:replace="template :: nav"></div>
</header>

<main role="delete">

    <h1>Supression de star</h1>
    <p> La star a bien été supprimé.</p>
</main>

<div th:replace="template :: footer"></div>
</body>
</html>