<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:replace="template :: head"></div>

    <title>Détails topo</title>
</head>

<body>
<header>
    <div th:replace="template :: nav"></div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card h-auto">
                <form th:object="${topo}">
                    <h1>Détails du topo</h1>
                    <div class="form-group row">
                        <label for="topoName" class="col-sm-2 col-form-label">Nom du topo</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="topoName"
                                   th:text="*{name}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="topoDescription" class="col-sm-2 col-form-label">Description du topo</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="topoDescription"
                                   th:text="*{description}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="topoPlace" class="col-sm-2 col-form-label">Lieu du topo</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="topoPlace"
                                   th:text="*{place}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="topoPublicationDate" class="col-sm-2 col-form-label">Date de publication du
                            topo</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="topoPublicationDate"
                                   th:text="*{publicationDate}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="availableTopo" class="col-sm-2 col-form-label">Disponibilité</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext" id="availableTopo"
                                   th:text="*{available}">
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary"><a
                            th:href="@{/topo/edition(id=*{id})}">Éditer</a></button>
                    <button type="button" class="btn btn-secondary"><a
                            th:href="@{/topo/delete(id=*{id})}">Supprimer</a></button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="template :: footer"></div>
</body>
</html>