<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <div th:replace="fragments/general :: head"></div>
    <title>Home</title>
</head>

<body class="home">
<header>
    <div th:replace="fragments/general :: nav"></div>
</header>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div th:if="${param.logout}">
                <div class="card border-dark mb-3">
                    <div class="card-body">
                        <h1 class="card-title">Déconnexion</h1>
                        Vous êtes bien déconnecté.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div th:replace="fragments/general :: footer"></div>
</footer>
</body>

</html>